<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Message Board</title>
    </head>
    <body>
        <h1>The Dojo Message Board</h1>
        <hr>
        <div class="error-messages">
            <% if(typeof(errors) != 'undefined') { %>
                <% for (var x in errors) { %>
                    <h3><%= errors[x].message %></h3>
                <% } %>
            <% } %>
        </div>
        <form action='/addmessage' method='post'>
            <p>Name: <input type="text" name="username"></p>
            <p>Message: <input type="text" name="message"></p>
            <input type="submit" value="Post message">
        </form>
        <hr>
        <div class="error-messages">
            <% if(typeof(errors1) != 'undefined') { %>
                <% for (var x in errors1) { %>
                    <h3><%= errors1[x].message %></h3>
                <% } %>
            <% } %>
        </div>
        <% if (typeof(posts) != 'undefined') { %>
        <% for (var i = 0; i < posts.length; i++) { %>
            <div class="messages">
                <p>Message: <%= posts[i].messageBody %></p>
                <p>Posted by <%= posts[i].author %></p>
                <div class="comments">
                <% for (var idx = 0; idx < posts[i].comments.length; idx++) { %>
                    <p>Comment: <%= posts[i].comments[idx].commentBody %></p>
                    <p>Comment by <%= posts[i].comments[idx].author %></p>
                <% } %>
                </div>
                <form action='/newcomment/<%= posts[i].id %>' method='post'>
                    <p>Name: <input type="text" name="username"></p>
                    <p>Message: <input type="text" name="message"></p>
                    <input type="submit" value="Post comment">
                </form>
            </div>
            <hr>
        <% } %>
        <% } %>
    </body>
</html>
